<div class="container py-3">
  <div
    class="flex flex-column md:flex-row justify-content-center md:justify-content-between align-items-center my-4"
  >
    <app-breadcrumb ngSkipHydration [items]="breadcrumb" />
    <div class="w-sm-buttons">
      <p-button
        label="Adicionar Federação"
        [routerLink]="['federation-edit']"
        [queryParams]="{ action: 'create', f: 'federations' }"
        icon="pi pi-plus"
      />
    </div>
  </div>

  <div
    class="grid row-gap-4 md:row-gap-0 md:justify-content-start justify-content-center"
  >
    @if (federations.length > 0) {
      @for (federation of federations; track $index) {
        <div class="lg:col-3 md:col-6 sm:col-12">
          <app-list-cards [data]="federation" [toQueries]="cardFlags" />
        </div>
      }
    } @else {
      <div class="notification is-link is-light">
        O sistema ainda não possui atletas cadastrados!!
      </div>
    }
  </div>
</div>
