<div class="container py-3">
  <div class="d-flex justify-content-end mt-4 w-100">
    <div class="buttons">
      <button
        [routerLink]="['federation-edit']"
        [queryParams]="{ action: 'create', f: 'federation' }"
        class="button is-link is-fullwidth"
      >
        Adicionar Federação
      </button>
    </div>
  </div>
  <!-- <div class="uk-grid uk-flex-right uk-padding-small uk-margin-small-bottom">
    <div class="uk-width-auto">
      <a
        [routerLink]="['Federation-edit']"
        [queryParams]="{ action: 'create', f: 'federation' }"
        class="uk-button uk-button-primary uk-text-uppercase"
      >
        <span uk-icon="icon: plus"></span> Adicionar Federação
      </a>
    </div>
  </div> -->

  <div class="row g-4">
    @if (federations.length > 0) {
      @for (federation of federations; track $index) {
        <div class="col-lg-3 col-md-6 col-sm-12 p-5">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <!-- <img
                  src="https://bulma.io/assets/images/placeholders/1280x960.png"
                  alt="Placeholder image"
                /> -->
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrWtg_5v5FFlbmzTkXCcXKcthtrxzl6rN16g&s"
                  alt="Placeholder image"
                />
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <!-- <div class="media-left">
                  <figure class="image is-48x48">
                    <img
                      src="https://bulma.io/assets/images/placeholders/96x96.png"
                      alt="Placeholder image"
                    />
                  </figure>
                </div> -->
                <div class="media-content">
                  <p class="title is-4">{{ federation.name }}</p>
                  <p class="subtitle is-6">{{ federation.surname }}</p>
                  <p class="subtitle is-7">{{ federation.status }}</p>
                </div>
              </div>
            </div>
            <footer class="card-footer p-0">
              <a
                [routerLink]="['federation-edit']"
                [queryParams]="{
                  action: 'update',
                  f: 'federations',
                  p: federation.id,
                }"
                class="card-footer-item has-background-link is-light has-text-white"
              >
                <i class="ri-pencil-line"></i> Editar
              </a>
              <a class="card-footer-item has-background-danger has-text-white">
                <i class="ri-delete-bin-line"></i> Deletar
              </a>
            </footer>
          </div>
        </div>
      }
    } @else {
      <div class="notification is-link is-light">
        O sistema ainda não possui atletas cadastrados!!
      </div>
    }
  </div>
</div>
