<div class="container">
  <h1
    class="dashboard-title has-text-centered has-text-link is-size-1 has-text-weight-bold my-4"
  >
    Dashboard
  </h1>
  <div class="container">
    <div class="row g-3">
      @for (menu of dashMenu; track $index) {
        <div class="col-12 col-lg-3 col-md-6 col-sm-12">
          <a class="has-text-black" [routerLink]="menu.router">
            <div class="box box-hover has-text-centered has-border-radius p-5">
              <img [src]="menu.icon" [alt]="menu.name" class="icon" />
              <h3
                class="title is-5 my-2"
                [style.color]="menu.id % 2 === 0 ? '#ff3860' : '#3273dc'"
              >
                {{ menu.name }}
              </h3>
              <p class="has-text-grey is-size-7">{{ menu.text }}</p>
            </div>
          </a>
        </div>
      }
    </div>
  </div>
</div>
