<div class="container">
  <h1 class="dashboard-title uk-text-center">Dashboard</h1>
  <div class="row g-3 sm-screen">
    @for (menu of dashMenu; track $index) {
      <div class="col-12 col-lg-3 col-md-4 col-sm-6">
        <a class="uk-link-reset" [routerLink]="menu.router">
          <div
            class="uk-card uk-card-default uk-card-hover uk-card-body uk-text-center uk-border-rounded"
          >
            <img [src]="menu.icon" [alt]="menu.name" class="icon" />
            <h3
              class="uk-card-title"
              [style.color]="menu.id % 2 === 0 ? '#FC3B56' : '#3f51b5'"
            >
              {{ menu.name }}
            </h3>
            <p class="uk-text-muted">{{ menu.text }}</p>
          </div>
        </a>
      </div>
    }
  </div>
</div>
