<div class="form-box">
  <div class="stepper">
    <!-- <div class="logo text-center"><span>aled</span>guedes</div> -->
    <ul class="stepper-steps ps-5">
      @for (item of stepsForm; track $index) {
        <li class="step" [class.active]="currentStep === $index + 1">
          <span>{{ $index + 1 }}</span>
          <p>{{ item.label }}</p>
        </li>
      }
    </ul>
  </div>
  <div class="form-stepers">
    @if (currentStep === 1) {
      <ng-container>
        <div class="form-one form-step" [class.active]="currentStep === 1">
          <app-layout-form-personal
            (statusFormPersonal)="updateStatus($event)"
            [update]="update"
          />
        </div>
      </ng-container>
    }

    @if (currentStep === 2 && address) {
      <ng-container>
        <div class="form-two form-step" [class.active]="currentStep === 2">
          <app-layout-form-address
            (statusFormAddress)="updateStatus($event)"
            [update]="update"
            ngSkipHydration
          />
        </div>
      </ng-container>
    }

    @if (currentStep === 3) {
      <ng-container>
        <div class="form-three form-step" [class.active]="currentStep === 3">
          <app-form-upload (statusFormUpload)="updateStatus($event)" />
        </div>
      </ng-container>
    }

    @if (currentStep === 4) {
      <ng-container>
        <div class="form-three form-step" [class.active]="currentStep === 4">
          <!-- <app-form-upload (statusFormUpload)="updateStatus($event)" /> -->
        </div>
      </ng-container>
    }
  </div>
</div>

<div class="d-flex justify-content-around">
  @if (currentStep !== 1) {
    <button class="button is-danger is-outlined w-25" (click)="prevStep()">
      Voltar
    </button>
  }
  @if (currentStep !== 4) {
    <button class="button is-link w-25" (click)="nextStep()">Próximo</button>
  }
  @if (currentStep === 4) {
    <button class="button is-link w-25">Enviar</button>
  }
</div>
