<div class="card custom-stepper-content">
  <p-stepper orientation="vertical">
    @for (item of stepsForm; track $index; let last = $last) {
      <!-- <p-stepperPanel [header]="item.label">
        <ng-template
          pTemplate="content"
          let-index="index"
          let-nextCallback="nextCallback"
          let-prevCallback="prevCallback"
        >
          <div class="custom-step-content">
            <div>
              @switch ($index) {
                @case (0) {
                  <app-layout-form-personal
                    (statusFormPersonal)="updateStatus($event)"
                    [update]="update"
                  />
                }

                @case (1) {
                  <app-layout-form-address
                    (statusFormAddress)="updateStatus($event)"
                    [update]="update"
                    ngSkipHydration
                  />
                }

                @case (2) {
                  <app-form-upload (statusFormUpload)="updateStatus($event)" />
                }

                @default {
                  <h2>Confirmação dos dados</h2>
                  <p>Confirme as informações fornecidos para finalizar</p>
                }
              }
            </div>
          </div>
          <div class="flex py-4 gap-2">
            @if ($index === 0) {
              <p-button label="Next" (onClick)="nextCallback.emit()" />
            } @else {
              <p-button
                label="Back"
                severity="secondary"
                (onClick)="prevCallback.emit()"
              />
              @if (!last) {
                <p-button label="Next" (onClick)="nextCallback.emit()" />
              }
            }
          </div>
        </ng-template>
      </p-stepperPanel> -->
    }
  </p-stepper>
</div>
