<p-card>
  <p-stepper [value]="1" [linear]="false">
    <p-step-list>
      @for (spetList of stepsForm; track $index; let last = $last) {
        @if (isStepEnabled(spetList.step)) {
          <p-step [value]="$index + 1"> {{ spetList.label }} </p-step>
        }
      }
    </p-step-list>
    <p-step-panels>
      @for (step of stepsForm; track $index) {
        <p-step-panel [value]="step.step">
          <ng-template #content let-activateCallback="activateCallback">
            <app-layout-form-dynamic
              [update]="crtlFormUpdate.update"
              [personalData]="step.data"
            />
            <div class="flex pt-6 justify-between">
              <!-- Botões "Back" e "Next" -->
              <p-button
                *ngIf="step.step > 1"
                label="Back"
                severity="secondary"
                icon="pi pi-arrow-left"
                (onClick)="activateCallback(step.step - 1)"
              />
              <p-button
                *ngIf="step.step < stepsForm.length"
                label="Next"
                icon="pi pi-arrow-right"
                iconPos="right"
                (onClick)="activateCallback(step.step + 1)"
              />
            </div>
          </ng-template>
        </p-step-panel>
      }
    </p-step-panels>
  </p-stepper>
</p-card>
