<div class="uk-container">
  <div class="uk-grid uk-flex-right uk-padding-small uk-margin-small-bottom">
    <div class="uk-width-auto">
      <a class="uk-button uk-button-primary uk-text-uppercase" href="#create">
        <span uk-icon="icon: plus"></span> Adicionar árbitro
      </a>
    </div>
  </div>

  <div
    class="uk-grid uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-4@l uk-margin-top"
  >
    @if (players.length > 0) {
      <div
        *ngFor="let player of players; let idx = index"
        class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin-small-top uk-padding-small"
        [ngClass]="['status-' + player.cod_status]"
      >
        <div class="uk-flex uk-flex-middle uk-flex-between">
          <div
            class="uk-background-cover uk-background-center-center uk-border-circle"
            [style.background-image]="
              'url(' + baseUrl + player?.picture_profile + ')'
            "
            style="width: 80px; height: 80px"
          ></div>
          <div class="uk-text-right">
            <button
              class="uk-button uk-button-danger uk-button-small"
              (click)="removePlayer(+player.id)"
            >
              <span uk-icon="icon: trash"></span>
            </button>
            <a
              class="uk-button uk-button-primary uk-button-small"
              [routerLink]="['update', player.id]"
            >
              <span uk-icon="icon: pencil"></span>
            </a>
          </div>
        </div>
        <div class="uk-text-right uk-margin-small-top">
          <small class="uk-text-meta">{{ player.name }}</small
          ><br />
          <small class="uk-text-meta">{{ player.surname }}</small>
        </div>
      </div>
    } @else {
      <div class="uk-alert-warning uk-margin-top" uk-alert>
        <p class="uk-margin-remove">
          O sistema ainda não possui atletas cadastrados!!
        </p>
      </div>
    }
  </div>
</div>
