<div class="container py-3">
  <div
    class="d-flex flex-column flex-md-row justify-content-center justify-content-md-between is-align-items-center mt-4"
  >
    <app-breadcrumb />
    <div class="buttons w-sm-buttons">
      <button
        [routerLink]="['player-edit']"
        [queryParams]="{ action: 'create', f: 'players' }"
        class="button is-link is-fullwidth"
      >
        <i class="ri-add-fill"></i>
        Adicionar Atleta
      </button>
    </div>
  </div>

  <div class="row g-3 mt-4">
    @if (players.length > 0) {
      @for (player of players; track $index) {
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card">
            <div class="card-content">
              <div class="is-flex is-align-items-center">
                <figure class="image is-64x64 mr-4">
                  <img
                    src="https://placehold.co/80x80"
                    [alt]="player.surname"
                    class="is-rounded"
                  />
                </figure>
                <div class="media-content">
                  <!-- <span class="tag is-primary">PRO</span> -->
                  <h3 class="title is-6 has-text-weight-bold">
                    {{ player.surname }}
                  </h3>
                  <p class="subtitle is-7 m-0">{{ player.name }}</p>
                  <!-- <p class="subtitle is-7">32 ANOS</p> -->
                </div>
              </div>
            </div>
            <footer class="card-footer">
              <div class="card-footer-item">
                <button
                  class="button is-small is-info"
                  [routerLink]="['player-edit']"
                  [queryParams]="{
                    action: 'update',
                    f: 'players',
                    p: player.id,
                  }"
                >
                  <span class="icon">
                    <i class="ri-pencil-line"></i>
                  </span>
                  <span>Editar</span>
                </button>
              </div>
              <div class="card-footer-item">
                <button
                  class="button is-small is-danger"
                  (click)="removePlayer(+player.id)"
                >
                  <span class="icon">
                    <i class="ri-delete-bin-2-line"></i>
                  </span>
                  <span>Remover</span>
                </button>
              </div>
              <div class="card-footer-item">
                <button class="button is-small is-link">
                  <span class="icon">
                    <i class="ri-file-list-line"></i>
                  </span>
                  <span>Contratos</span>
                </button>
              </div>
            </footer>
          </div>
        </div>
      }
    } @else {
      <div class="notification is-link is-light">
        O sistema ainda não possui atletas cadastrados!!
      </div>
    }
  </div>
</div>
