<p-card class="shadow-8" [style]="{ width: '100%', overflow: 'hidden' }">
  <ng-template #header>
    <img alt="Card" class="w-full" [src]="img02" />
  </ng-template>
  <ng-template #title> {{ data.surname ?? data.name }} </ng-template>
  <ng-template #subtitle> {{ data.name }} </ng-template>
  <ng-template #footer>
    <div class="flex gap-4 mt-1">
      <p-button
        label="Remover"
        severity="secondary"
        class="w-full"
        [outlined]="true"
        styleClass="w-full"
      />
      <p-button
        label="Editar"
        [routerLink]="[toQueries.router]"
        [queryParams]="{
          action: 'update',
          f: toQueries.flag,
          p: data.id,
        }"
        class="w-full"
        styleClass="w-full"
        icon="pi pi-pencil"
      />
    </div>
  </ng-template>
</p-card>
