<form class="uk-form-stacked" [formGroup]="playerForm" (ngSubmit)="onSubmit()">
  <div formGroupName="player">
    <fieldset class="uk-fieldset">
      <legend class="uk-legend">Dados Pessoais</legend>
      <div class="row">
        @for (field of personalData; track $index) {
          @if (field.typeComponent === "input") {
            <div [ngClass]="field.colClass">
              <app-input-forms
                [id]="field.inputFieldId"
                [label]="field.label"
                [formControlName]="field.inputFieldName"
                [type]="field.inputType ?? 'text'"
                [placeholder]="field.placeholder ?? ''"
                [step]="field.step"
                [accept]="field.accept"
              >
              </app-input-forms>
            </div>
          }

          @if (field.typeComponent === "select") {
            <div [ngClass]="field.colClass">
              <app-select-forms
                [id]="field.inputFieldId"
                [label]="field.label"
                [options]="field.options ?? []"
                [formControlName]="field.inputFieldName"
              ></app-select-forms>
            </div>
          }
        }
      </div>
    </fieldset>
  </div>

  <div formGroupName="address" class="mt-4">
    <fieldset class="uk-fieldset">
      <legend class="uk-legend">Dados de Contato</legend>
      <div class="row">
        @for (field of addressPlayer; track $index) {
          @if (field.typeComponent === "input") {
            <div [ngClass]="field.colClass">
              <app-input-forms
                [id]="field.inputFieldId"
                [label]="field.label"
                [formControlName]="field.inputFieldName"
                [type]="field.inputType ?? 'text'"
                [placeholder]="field.placeholder ?? ''"
                [step]="field.step"
                [accept]="field.accept"
              >
              </app-input-forms>
            </div>
          }
        }
      </div>
    </fieldset>
  </div>

  <div class="row g-3 mt-4">
    <div class="col-12 col-md-6">
      <button
        class="uk-button uk-button-primary w-100"
        type="submit"
        [disabled]="playerForm.invalid"
      >
        Cadastrar Atleta
      </button>
    </div>
    <div class="col-12 col-md-6">
      <button class="uk-button uk-button-default w-100" type="reset">
        Cancelar
      </button>
    </div>
  </div>
</form>
