<div class="container">
  <div class="flex justify-content-between align-items-center mb-4">
    <h3 class="p-text-muted text-3xl">Welcome back, John! 👋</h3>
    <div class="md:w-auto">
      <p-button
        label="Adicionar Liga"
        [routerLink]="['league-edit']"
        [queryParams]="{ action: 'create', f: 'leagues' }"
        icon="pi pi-plus"
        styleClass="w-full"
      />
    </div>
  </div>

  <div class="grid cards">
    @for (item of statsCards; track $index) {
      <div class="col-12 md:col-4 mb-4">
        <app-dash-statistics [data]="item" />
      </div>
    }
  </div>

  <!-- Leagues Section - Full width on mobile, 75% on desktop -->
  <p-table
    [columns]="cols"
    [value]="leagues"
    [tableStyle]="{ 'min-width': '100%' }"
  >
    <ng-template #header let-columns>
      <tr>
        @for (col of columns; track $index) {
          <th>
            {{ col.header }}
          </th>
        }
      </tr>
    </ng-template>
    <ng-template #body let-rowData let-columns="columns">
      <tr>
        @for (col of columns; track $index) {
          @if (col.field === "name") {
            <th>
              <div class="flex align-items-center justify-content-around">
                <img
                  [src]="rowData['img_perfil']"
                  [alt]="rowData['img_perfil']"
                  height="50"
                />
                {{ rowData[col.field] }}
              </div>
            </th>
          } @else if (col.field === "action") {
            <th class="flex justify-content-around align-items-center p-3">
              <p-button label="Remover" variant="outlined" size="small" />
              <p-button label="Editar" variant="outlined" size="small" />
              <p-button
                [routerLink]="['/leagues', col.field]"
                label="Ver"
                variant="outlined"
                size="small"
              />
            </th>
          } @else {
            <th>
              {{ rowData[col.field] }}
            </th>
          }
        }
      </tr>
    </ng-template>
  </p-table>
</div>
