<div class="container">
  <div
    class="d-flex flex-column flex-md-row justify-content-center justify-content-md-between is-align-items-center mt-4"
  >
    <app-breadcrumb />
    <div class="buttons w-sm-buttons">
      <button
        [routerLink]="['team-edit']"
        [queryParams]="{ action: 'create', f: 'teams' }"
        class="button is-link is-fullwidth"
      >
        <i class="ri-add-fill"></i>
        Adicionar Time
      </button>
    </div>
  </div>

  <div class="row g-4">
    @if (teams.length > 0) {
      @for (t of teams; track $index) {
        <div class="col-lg-3 col-md-6 col-sm-12">
          <app-list-cards [data]="t" [toQueries]="cardFlags" />
        </div>
      }
    } @else {
      <div class="notification is-link is-light">
        O sistema ainda não possui times cadastrados!!
      </div>
    }
  </div>
  <!-- @if (teams.length) {
      @for (t of teams; track $index) {
        <div class="col-6 col-lg-2 col-md-2 col-sm-6 mb-2">
          <a
            class="has-text-centered d-flex flex-column align-items-center"
            [routerLink]="['team-edit']"
            [queryParams]="{ action: 'update', f: 'teams', p: t.id }"
            style="font-size: 12px"
          >
            <div
              class="profile-photo"
              [style.backgroundImage]="'url(' + baseUrl + ')'"
            ></div>
            <p class="mt-2">{{ t.surname }}</p>
          </a>
        </div>
      }
    } @else {
      <div class="notification is-warning mt-5">
        <p class="m-0">O sistema ainda não possui times cadastrados!!</p>
      </div>
    } -->
</div>
