<div class="container">
  <div
    class="flex flex-column md:flex-row justify-content-center md:justify-content-between align-items-center my-4"
  >
    <app-breadcrumb ngSkipHydration [items]="breadcrumb" />
    <div class="buttons w-sm-buttons">
      <p-button
        label="Adicionar Time"
        [routerLink]="['team-edit']"
        [queryParams]="{ action: 'create', f: 'teams' }"
        icon="pi pi-plus"
      />
    </div>
  </div>

  <div class="grid">
    @if (teams.length > 0) {
      <div class="col">
        <app-list-tables [data]="teams" [toQueries]="cardFlags" />
      </div>
      <!-- @for (t of teams; track $index) {
        <div class="lg:col-3 md:col-6 sm:col-12">
          <app-list-cards [data]="t" [toQueries]="cardFlags" />
        </div>
      } -->
    } @else {
      <div class="notification is-link is-light">
        O sistema ainda não possui times cadastrados!!
      </div>
    }
  </div>
</div>
