<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="box m-auto w-sm-card" style="padding: 3rem">
        <h2
          class="title has-text-centered has-text-weight-bold dynamic-title has-text-link"
        >
          {{ titlePage }}
        </h2>
        <app-layout-form />

        <!-- <div class="row g-3 mt-4">
            <div class="col-12 col-md-6">
              <button class="uk-button uk-button-primary w-100" type="submit">
                Cadastrar Atleta
              </button>
            </div>
            <div class="col-12 col-md-6">
              <button class="uk-button uk-button-default w-100" type="reset">
                Cancelar
              </button>
            </div>
          </div> -->
      </div>
    </div>
  </div>
</div>
