.w-sm-card {
  width: 75%;
}

.media-cards-form {
  padding: 3rem;
}

@media (max-width: 768px) {
  .dynamic-title {
    font-size: 2rem; /* Ajuste conforme necessário */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .dynamic-title {
    font-size: 2.5rem; /* Ajuste conforme necessário */
  }
}

@media (min-width: 1025px) {
  .dynamic-title {
    font-size: 3rem; /* Ajuste conforme necessário */
  }
}

@media screen and (max-width: 992px) {
  .w-sm-card {
    width: 100%;
  }

  .media-cards-form {
    padding: 3rem 0.5rem;
  }
}
