<div class="container mt-5">
  <app-breadcrumb />
  <div class="row">
    <div class="col-12">
      <div class="box m-auto w-sm-card media-cards-form h-100">
        <h6
          class="has-text-centered has-text-weight-bold dynamic-title has-text-link"
        >
          {{ titlePage }}
        </h6>
        <app-layout-form
          (statusForm)="statusForm($event)"
          [address]="formAddress"
          [update]="edit.update"
        />
        <!-- <div class="row g-3 mt-4">
          <div class="col-12 col-md-6">
            <button
              class="uk-button uk-button-primary w-100"
              type="submit"
              [disabled]="!completdForm"
            >
              Salvar
            </button>
          </div>
          <div class="col-12 col-md-6">
            <button
              class="uk-button uk-button-default w-100"
              type="reset"
              (click)="onCancel()"
            >
              Cancelar
            </button>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
