/* You can add global styles to this file, and also import other style files */
@import "../src/app/styles/default.scss";
@import "primeicons/primeicons.css";

:root {
  --main-color: #4258ff;
  --secondary-color: #a29bfe;
  --lighter-color: #e0e0e7;
  --ligth-color: #b0b0c0;
  --dark-color: #52505e;

  --font-smaller: 14px;
  --font-bigger: 20px;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #b0b0c03f;
  font-family: "Nunito", sans-serif;
}

@media screen and (max-width: 576px) {
  .w-sm-buttons {
    width: 100%;
    margin-top: 0.5rem;
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.p-card .p-card-title {
  height: 60px;
}

.p-card .p-card-subtitle {
  height: 40px;
  font-size: 0.9rem;
}
