/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #f7f7f7;
}

@media screen and (max-width: 576px) {
  .w-sm-buttons {
    width: 100%;
    margin-top: 0.5rem;
  }
}
