.layout {
  min-height: 100vh;
  display: flex;
}

.main-content {
  flex: 1;
  margin-left: 0;
}

.content {
  padding: 1rem;
}

@media (min-width: 992px) {
  .main-content {
    margin-left: 250px;
  }
}
